body {
  background-color: #222;
  color: #eee;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.divider {
  height: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  --size: 20vw;
  background: #333;
  border: 2px solid #999;
  color: #eee;
  float: left;
  font-size: calc(var(--size) / 2);
  font-weight: bold;
  line-height: var(--size);
  height: var(--size);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: var(--size);
}

.square:hover {
  cursor: pointer;
  background-color: rgba(150, 130, 55, 0.8);
}

.square:focus {
  outline: none;
}

.winning.square {
  background-color: rgba(165, 60, 245, 0.6);
}

.last-played.square {
  background-color: rgba(255, 215, 25, 0.6);
}

.last-played.winning.square {
  background-color: rgba();
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.game-info {
  align-self: flex-start;
  margin-left: 20px;
}

.game-status {
  background-color: rgba(255, 255, 255, 0.2);
  border: 5px solid #999;
  padding: 25px;
}

.game-status .status {
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

.new-game-button {
  background-color: rgba(125, 205, 120, 0.7);
  border: 5px solid #999;
  font-size: 2rem;
  font-weight: bold;
  padding: 50px 10px;
  width: 100%;
}

.new-game-button:hover {
  cursor: pointer;
  background-color: rgba(125, 205, 120, 0.9);
}
.history-box ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.history-sort-button {
  background-color: rgba(225, 225, 255, 0.3);
  border: 2px solid #999;
  color: #eee;
  display: block;
  font-size: 1.1rem;
  padding: 15px;
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
}

.history-sort-button:hover {
  cursor: pointer;
  background-color: rgba(225, 225, 255, 0.6);
}

.history-box ol button {
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid #999;
  color: #eee;
  font-size: 1.25rem;
  padding: 15px;
  margin: 0;
  width: 100%;
}

.history-box ol button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  text-decoration: underline;
}

.history-box .current-move {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}
